@charset "UTF-8";

*{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #001542, #085454);
}
p { 
   color: #1E232E;
   font-size: 25px;
   text-align: justify;
}

h1 {
    text-align: center;
   color: #FFB30D; 
   text-shadow: px 1px 0px #001542;
}
h2{
    text-align: center;
    color: #390D02;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #001542;
    width: 600px; 
    padding: 10px;
    margin: auto;
}